:root {
    --purple: #3e0429;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--purple);
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameBoard {
    width: 390px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box {
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--purple);
    font-size: 130px;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--purple);
    color: white;
    border-color: var(--purple);
    font-size: 18px;
    transition: 200ms transform;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}